*,::after , ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  

}

body{
    margin: 0 100px;
    background-color: wheat;
}
.nav{
    width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px 0;
}

.nav .logo h1{
    font-weight: 600;
    font-family: sans-serif;
    color:black;
}

.nav .logo b{
    color: #ff511c;

}

.nav ul{
    display: flex;
    list-style: none;
}
.nav ul li{
    margin-right:30px;
}
.nav ul li a{
    text-decoration: none;
    color:black;
    font-weight: 500;
    font-family: sans-serif;
    font-size:17px ;
}

.nav ul .active::after{
    content: '';
    width: 50%;
    height: 3px;
    background-color: #ff511c;
    display: flex;
    position: relative;
    margin-left: 10px;
}

picture{
background-color: #ff511c;
color: white;
border-radius: 5px;
}

input{
    padding: 10px 20px;
    cursor: pointer;
    font-weight:600 ;
}

.signin {
    padding: 10px 20px;
    background: transparent;
    color: black;
    font-weight: 600;
    border: 2px solid #ff511c; 
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
}

.signup {
    background-color: #ff511c;
    color: #ffffff;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-left: 0px;
    margin-left: 2px;
}



.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.gallery-image {
    width: 30%;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

.gallery-image:hover {
    transform: scale(1.1); /*enlarge*/
    box-shadow: 0 0 20px rgb(255, 255, 255);
}