/* NAVBAR */
.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 30px;
  background:#c94b2b;
}

.logo{
  color:white;
  font-size:20px;
  text-decoration:none;
  font-weight:bold;
}

/* PROFILE DROPDOWN */
.profile-dropdown{
  position:relative;
}

.profile-trigger{
  display:flex;
  align-items:center;
  gap:10px;
  cursor:pointer;
  color:white;
}

.profile-trigger img{
  width:40px;
  height:40px;
  border-radius:50%;
  object-fit:cover;
}

/* MENU */
.dropdown-menu{
  position:absolute;
  right:0;
  top:55px;
  background:white;
  width:180px;
  border-radius:10px;
  box-shadow:0 4px 12px rgba(0,0,0,.15);
  display:none;
  z-index:999;
}

.dropdown-menu a{
  display:block;
  padding:12px;
  color:#333;
  text-decoration:none;
}

.dropdown-menu a:hover{
  background:#f5f5f5;
}

.dropdown-menu hr{
  margin:5px 0;
}

.logout{
  color:red;
}

/* SHOW ON HOVER */
.profile-dropdown:hover .dropdown-menu{
  display:block;
}
body{
  background:#f8f1e9;
  font-family:Arial;
}

.profile-box{
  width:500px;
  margin:50px auto;
  background:#fff;
  padding:30px;
  border-radius:15px;
  text-align:center;
}

.profile-header img{
  width:120px;
  height:120px;
  border-radius:50%;
  object-fit:cover;
}

.profile-actions a{
  display:block;
  margin:8px 0;
  background:#c94b2b;
  color:white;
  padding:10px;
  border-radius:8px;
  text-decoration:none;
}

.profile-actions a:hover{
  background:#a03a1f;
}

input,button{
  width:100%;
  padding:10px;
  margin:10px 0;
}

table{
  width:100%;
  border-collapse:collapse;
}

th,td{
  border:1px solid #ccc;
  padding:8px;
}

.msg{
  color:green;
}
body{
    margin: 0 100px;
    background-color:wheat;
}
.nav{
    width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px 0;
}

.nav .logo h1{
    font-weight: 600;
    font-family: sans-serif;
    color: #000000;
}

.nav .logo b{
    color: #ff511c;

}

.nav ul{
    display: flex;
    list-style: none;
}
.nav ul li{
    margin-right:30px;
}
.nav ul li a{
    text-decoration: none;
    color:#000000;
    font-weight: 500;
    font-family: sans-serif;
    font-size:17px ;
}

.nav ul .active::after{
    content: '';
    width: 50%;
    height: 3px;
    background-color: #ff511c;
    display: flex;
    position: relative;
    margin-left: 10px;
}


input{
    padding: 10px 20px;
    cursor: pointer;
    font-weight:600 ;
}