::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 100px;
    background-color: wheat;
}

/* NAVBAR */
.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.nav .logo h1 {
    font-weight: 600;
    font-family: sans-serif;
    color: black;
}

.nav .logo b {
    color: #ff511c;
}

.nav ul {
    display: flex;
    list-style: none;
}

.nav ul li {
    margin-right: 30px;
}

.nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 17px;
}
.nav ul .active::after{
    content: '';
    width: 50%;
    height: 3px;
    background-color: #ff511c;
    display: flex;
    position: relative;
    margin-left: 10px;
}

/* 3 ITEMS PER ROW */
.menu-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
}

/* MENU ITEM STYLE */
.menu-item {
    background: #f2f2f2;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
    text-align: center;
    transition: 0.2s;
}

.menu-item:hover {
    transform: translateY(-4px);
    box-shadow: 0px 6px 16px rgba(0,0,0,0.18);
}

.menu-item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.menu-item h3 {
    margin-top: 10px;
    font-size: 20px;
}

/* COUNTER */
.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

.counter button {
    width: 30px;
    height: 30px;
    border: none;
    background: #ff511c;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.counter span {
    margin: 0 10px;
    font-size: 18px;
    font-weight: bold;
}

/* PRICE */
.price {
    margin-top: 8px;
    font-size: 18px;
    font-weight: bold;
}

/* INGREDIENTS */
.ingredients {
    margin-top: 10px;
    font-size: 14px;
    color: #444;
}

/* INSTRUCTIONS INPUT */
textarea {
    width: 100%;
    height: 60px;
    margin-top: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 5px;
    resize: none;
}

/* ADD TO CART BUTTON */
.addToCart {
    margin-top: 12px;
    width: 100%;
    padding: 10px;
    background: #ff511c;
    border: none;
    color: white;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.addToCart:hover {
    background: #e24715;
}
